<!DOCTYPE html>
<html>

<head>
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
        tailwind.config = {
            theme: {
                extend: {
                    colors: {
                        qcHeader: "#EEE"
                    }
                }
            }
        }
    </script>
    <title>{{.Title}}</title>
</head>

<body>
    <div class="bg-qcHeader py-2 text-lg">
        Hello
    </div>
    <h1>Hello, {{.Name}}, ID number: {{.Id}}</h1>
    <p>
        You have scored {{.Marks}}!
    <p>
</body>

</html>