body {
  font-family: helvetica, arial, sans-serif;
  margin: 2em;
}

h1 {
  font-style: italic;
  color: #ff6f00;
}

canvas {
  background-color: #ff6f00;
  display: block;
  width: 28px;
  height: 28px;
  margin: 10px auto 5px auto;
  zoom: 6;
}
